#header {
    text-align: center;
    background-color:#033a3d;
    z-index: 1;
}

.pager {
    background-color: lime;
    padding: 50px;
}

#settingsButton {
    float: right;
    padding: 10px;
}

#creditsButton {
    padding: 10px;
}