#header {
    text-align: center;
    background-color:#033a3d;
    z-index: 1;
}

.pager {
    height: 100px;
    width: 100px;
    background-color: orange;
}

#settingsButton {
    float: right;
    padding: 10px;
}

#creditsButton {
    padding: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px #cdcdcd;
}

td {
    padding: 10px;
}

.wrapper {
    padding: 10px;
}